DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
DISCORD_MENU_CHANNEL_ID=
TEMPVOICE_HUB_IDS=
TEMPVOICE_PANEL_CHANNEL_ID=
LEVEL_CHECK_CHANNEL_ID=
LEVELUP_CHANNEL_ID=
DASHBOARD_CHANNEL_ID=
LEVEL_PANEL_CHANNEL_ID=
XP_MIN_PER_MESSAGE=
XP_MAX_PER_MESSAGE=
XP_DAILY_CAP=
XP_COOLDOWN_MS=
XP_ALLOWED_CHANNEL_IDS=
MOD_PANEL_CHANNEL_ID=
MOD_ALLOWED_ROLE_IDS=
LOG_SERVER_ID=
GAMES_ALLOWED_ROLE_IDS=
GAMES_PANEL_CHANNEL_ID=
REPLY_TTL_MS=
USER_PANEL_CHANNEL_ID=
DEFAULT_GUEST_ROLE_ID=
REPORT_PANEL_CHANNEL_ID=
FEEDBACK_PANEL_CHANNEL_ID=
TICKET_CATEGORY_ID=
TICKET_LOG_CHANNEL_ID=
TICKET_STAFF_ROLE_IDS=

